@import "@carbon/themes/scss/themes";

// Use the gray 10 theme
$carbon--theme: $carbon--theme--g90;
@include carbon--theme();


.blogContent {
  width: 100%;
  margin-left: 0px;
  margin-right: 0px;
}

.blogContentCol1 {
  background: $ui-background;
}

.blogContentCol2 {
  background: $ui-01;
  padding: $layout-04;
}

.blogContentCol2 h4 {
  @include carbon--type-style('productive-heading-01');
  margin-bottom: $spacing-05;
}

.blogContentCol2 h1 {  
  @include carbon--type-style('productive-heading-06');
  margin-bottom: $spacing-09;
}

.blogContentCol2 h3 {
  @include carbon--type-style('productive-heading-03');
}



.blogCards {
  margin-top: 40px;
  font-family: IBM Plex Sans;
  margin-left: 0px;
  margin-right: 0px;
}

.blogCards h1 {
  @include carbon--type-style('productive-heading-03');
  color: $text-01;
}

.blogCards p {
  @include carbon--type-style('body-long-01');
  color: $text-01;
  margin-top: $layout-02;
  width: 368px;
}

.actionLink {
  position: absolute !important;
  bottom: 0px;
}

.blogCards .closeIcon {
  position: absolute;
  top: 19px;
  right: 16px;
  cursor: pointer;
}

.closeIcon svg {
  fill: #F4F4F4;
}

.blogCard1 .actionLink {
  left: 0px;
}

.blogCard2 .actionLink {
  right: 0px;
}

.blogCard1, .blogCard2 {
  height: 290px;
  background: #222222;
  padding-top: 20px;
  position: relative;
}