@import "@carbon/themes/scss/themes";

// Use the gray 10 theme
$carbon--theme: $carbon--theme--g90;
@include carbon--theme();

.main-content {
  background: $ui-background;
  padding: $layout-05 $layout-05 !important;
}