@import "@carbon/themes/scss/themes";

// Use the gray 10 theme
$carbon--theme: $carbon--theme--g90;
@include carbon--theme();

.main-content {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.callout-link {
  @include carbon--type-style('body-long-02');
  margin-top: $spacing-06;
  display: block;
}

.bannerContainer {
  background: $ui-background;
  padding: $layout-04 $layout-01;

  @include carbon--breakpoint('md') {
    padding: $layout-07 $layout-01;
  }

  @include carbon--breakpoint('lg') {
    padding: $layout-07 $layout-01;
  }
}

.banner {
  color: $ui-05;
  padding: $layout-02;

  @include carbon--breakpoint('md') {
    padding-left: $layout-04;
    padding-right: 0px;
  }

  @include carbon--breakpoint('lg') {
    padding-left: $layout-06;
    padding-right: 0px;
  }
}

.banner h1 {
  @include carbon--type-style('productive-heading-07');
}

.banner p {

  @include carbon--type-style('productive-heading-03');

  margin-top: $spacing-09;
  margin-bottom: $spacing-06;
}

.banner a {

  margin-top: $spacing-09;
}

.row-text {
  h1 {
    font-size: 30px;
    color: #000;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  p {
    margin-top: 35px;
    font-size: 18px;
    line-height: 36px;
    color: #666666;
    font-weight: 300;
  }
}

.blogSection {
  height: 860px;
  background: white;
}

.posts {
  padding: 80px 135px;
  background: $ui-02;
  padding-top: $layout-05;
  padding-bottom: $layout-06;
}