@import "@carbon/themes/scss/themes";

// Use the gray 10 theme
$carbon--theme: $carbon--theme--g90;
@include carbon--theme();

.callout-link {
  @include carbon--type-style('body-long-02');
  margin-top: $spacing-06;
  display: block;
}

.banner {
  color: $ui-05;
  padding-left: 20%;
}

.banner h1 {
  @include carbon--type-style('productive-heading-07');
}

.banner p {

  @include carbon--type-style('productive-heading-03');

  margin-top: $spacing-09;
  margin-bottom: $spacing-06;
}

.banner a {

  margin-top: $spacing-09;
}

.row-text {
  h1 {
    font-size: 30px;
    color: #000;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  p {
    margin-top: 35px;
    font-size: 18px;
    line-height: 36px;
    color: #666666;
    font-weight: 300;
  }
}

.main-content {
  text-align: center;
  padding: $layout-07 !important;
  padding-top: $layout-05 !important;
  padding-bottom: $layout-05 !important;
  background: $ui-01;
  color: $ui-05;
}

.main-content h1 {
  text-align: center;
  @include carbon--type-style('productive-heading-04');
}

.main-content p {
  @include carbon--type-style('productive-heading-03');
  margin-top: $spacing-08;
  margin-bottom: $spacing-08;
}

.blogSection {
  height: 860px;
  background: white;
}

.posts {
  padding: 80px 135px;
  background: $ui-02;
  padding-top: $layout-05;
  padding-bottom: $layout-06;
}