.callout-link {
  @include carbon--type-style('body-long-02');
  margin-top: $spacing-06;
  display: block;
}

.banner {
  margin-top: -100px;
  text-align: center;
}

.banner h1 {
  text-align: center;
  font-size: 60px;
  color: #fff;
  font-weight: 900;
  margin: 0px;
  text-shadow: 1px 2px 2px rgba(0,0,0,.6);
}

.banner h3 {
  text-align: center;
  margin-bottom: 50px;
  color: #fff;
  font-weight: 900;
  text-shadow: 1px 2px 2px rgba(0,0,0,.6);
}

.banner p {
  width: 800px;
  margin: auto;
  text-align: center;
}

.banner a {
  border-radius: 2px !important;
  background: #f87c45;
  color: #fff;
  font-size: 21px;
  font-weight: bold;
  padding: 13px 20px;
  max-width: 280px;
  box-shadow: none;
  display: block;
  transition: ease-in-out .3s;
  margin: 0 auto;
  text-shadow: none;

  text-decoration: none;
  line-height: 1.42857143;

  margin-top: 30px;
}

.banner a:hover {
  background: #fff;
  text-decoration: none;
  color: #f87c45;
}

.banner a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.row-text h1 {
  font-size: 30px;
  color: #000;
  margin-top: 20px;
  margin-bottom: 10px;
}

.row-text p {
  margin-top: 35px;
  font-size: 18px;
  line-height: 36px;
  color: #666666;
  font-weight: 300;
}

.main-content {
  background: url(../../images/home-bgrnd.jpg);
  max-width: unset !important;
}

.main-content h1 {
  text-align: center;
  font-size: 40px;
  color: #fff;
  font-weight: bold;
  padding: 40px 0 0 0;
  text-shadow: 1px 2px 2px rgba(0,0,0,.6);
}

.main-content p {
  text-align: center;
  padding: 20px 100px;
  padding-bottom: 50px;
  font-size: 22px;
  color: #fff;
  text-shadow: 1px 2px 2px rgba(0,0,0,.6);
}