@import "@carbon/themes/scss/themes";

// Use the gray 10 theme
$carbon--theme: $carbon--theme--g90;
@include carbon--theme();

.quoteContent {
  height: 600px;
  padding: $layout-05 $layout-07;

  background-color: $ui-03;
}

.quoteRow h1 {

  @include carbon--type-style('productive-heading-05');
  color: $text-04;
  margin-bottom: $spacing-06;
}

.quoteRow h3 {

  @include carbon--type-style('productive-heading-03');
  color: $text-04;
  margin-bottom: $spacing-09;
}

.quoteRow p {
  font-size: 14px;
  line-height: 20px;
  color: #FFFFFF;

  @include carbon--type-style('body-long-01');
  color: $text-04;
}

.requestDemoContent {
  padding: $layout-05 $layout-03;
  background: $ui-background;

  @include carbon--breakpoint('md') {
    padding: $layout-05 $layout-05 !important;
  }

  @include carbon--breakpoint('lg') {
    padding: $layout-05 $layout-07 !important;
  }
}

.requestDemoRow h1 {
  text-align: center;
  color: $text-04;
  @include carbon--type-style('productive-heading-05');
}

.requestDemoRow h2 {
  text-align: center;
  text-align: center;
  color: $text-02;
  @include carbon--type-style('productive-heading-05');
}

.requestDemoActions {
  padding-top: 30px;
  padding-left: 10%;
  text-align: center;
}

.requestDemoRow a {
  margin-left: $spacing-05;
  margin-bottom: $spacing-05;
}