@import "@carbon/themes/scss/themes";

// Use the gray 10 theme
$carbon--theme: $carbon--theme--g90;
@include carbon--theme();

.bannerContainer {
  background: $ui-background;
  padding: $layout-04 $layout-02;

  @include carbon--breakpoint('md') {
    padding: $layout-07 $layout-06;
  }

  @include carbon--breakpoint('lg') {
    padding: $layout-07 $layout-06;
  }
}

.banner h1 {
  @include carbon--type-style('productive-heading-07');
}

.banner p {

  @include carbon--type-style('productive-heading-03');

  margin-top: $spacing-09;
  margin-bottom: $spacing-06;
}

.banner a {
  margin-top: $spacing-09;
  margin-bottom: $spacing-08;

  @include carbon--breakpoint('lg') {
    margin-bottom: 0px;
  }
}
