@import "@carbon/themes/scss/themes";

// Use the gray 10 theme
$carbon--theme: $carbon--theme--g90;
@include carbon--theme();

.chart-container {
  background: $ui-01;
  // width: 800px;
  padding: $spacing-07 $spacing-05;

  border: 1px solid $text-03;
  color: $text-02;

  .recharts-wrapper {
    width: 100%;
  }

  .recharts-brush {
    margin-top: $spacing-07;
  }

  .recharts-cartesian-axis-tick {
    color: $text-01;
  }

  .recharts-brush {
    fill: none !important;
    rect {
      fill: none !important;
    }
  }
}

.main-chart {
  margin-bottom: $layout-05;

  .chart-container {
    width: 800px;
  }
}

.pricing-charts {
  width: 800px;
  .chart-container {
    width: 100%;
  }
}

.tooltip-wrapper {
  border: 1px solid $text-03;
  background: $ui-03;
}

.chart-control {
  h6 {
    @include carbon--type-style('productive-heading-02');
    text-align: center;
    margin-bottom: $spacing-03;
  }

  h3 {
    @include carbon--type-style('productive-heading-03');
    margin-bottom: $spacing-03;
    margin-left: $spacing-03;
    color: $text-04;
  }

  .range-control {
    display: inline-block;
    span {
      display: inline-block;
      padding: $spacing-03;
      color: $text-04;
      @include carbon--type-style('productive-heading-01');
      cursor: pointer;
    }
  
    span:hover {
      color: $text-02;
      background: $ui-04;
    }
  }

  .date-control {
    float: right;
    display: inline-block;
    width: 300px;

    span {
      padding-top: 5px;
      padding-right: 10px;
    }
    input {
      width: 120px;
      height: 25px;
    }

    .bx--form-item {
      max-width: 120px;
    }
  }
}